<a href="https://colab.research.google.com/github/Davidnazal/Praktikum-Pemrograman-git/blob/main/python_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

perbedaan dari list,tuple,set dan dictionary dalam python adalah:

• list: merupakan urutan yang dapat diubah dan memungkinkan untuk melakukan duplikasi elemen, dan deklaraasinya menggunakan kurung siku [ ].

contonnya:

list = ["apel","pisang","mangga","jeruk","nanas"]

• tuple adalah urutan yang mirip dengan list, tapi setelah dibuat urutan tidak dapat diubah, dan deklarasinya mwnggunakan kurung biasa ( ).

contoh: tuple = ("apel","pisang","mangga","jeruk","nanas")

• set meupakan perintah yang berguna untuk menyimpan data yang tidak urut, yang dimana elemenya dapat diubah tetapi tidak merubah nilainya. deklarasi set menggunakan kurung kurawal { }.

contohnya:  set = {"apel","pisang","mangga","jeruk","nanas"}

• dictionary adalah perintah yang digunakan untuk menyimpan dalam pasangan kunci dan nilai, dan nilai dari suatu key dapat diubah. deklarasinya menggunakan
kurung kurawal { }.

contohnya: dict = {"nama:" Ardi", "umur": 19,"asal:" "jakarta"}

In [ ]:
list = ["apel","pisang","mangga","jeruk","nanas"]
print(list)

['apel', 'pisang', 'mangga', 'jeruk', 'nanas']

In [ ]:
 tuple = (1,2,3,"mangga","jeruk","nanas")
 print(tuple)

(1, 2, 3, 'mangga', 'jeruk', 'nanas')

In [ ]:
 set = {"apel","pisang","mangga","jeruk","nanas"}
 print(set)

{'pisang', 'jeruk', 'mangga', 'apel', 'nanas'}

In [ ]:
dict = {"nama": "Ardi", "umur": 19 ,"asal": "jakarta"}
print(dict)

{'nama': 'Ardi', 'umur': 19, 'asal': 'jakarta'}

In [9]:
mahasiswa = [ {"Nama": "David Nazal Farihin",
                "Kelas": "Rombel 1",
                "Tanggal Lahir": "8 Oktober 2005",
                "No HP": "012345678",
                "Alamat": "Wonosobo",
                "hobi": ["Tidur", "main game" , "makan"]}]

for mahasiswa_item in mahasiswa:
  print("Nama:", mahasiswa_item["Nama"])
  print("Kelas:", mahasiswa_item["Kelas"])
  print("Tanggal Lahir:", mahasiswa_item["Tanggal Lahir"])
  print("No HP:", mahasiswa_item["No HP"])
  print("Alamat:", mahasiswa_item["Alamat"])
  print("Hobi:")
  for hobi in mahasiswa_item['hobi']:
    print("•", hobi)
  print()

Nama: David Nazal Farihin
Kelas: Rombel 1
Tanggal Lahir: 8 Oktober 2005
No HP: 012345678
Alamat: Wonosobo
Hobi:
• Tidur
• main game
• makan